<!DOCTYPE html>
<html lang="en">

<%- include('/Users/chris/FrontEndAplikasi/views/layouts/head.ejs') %>

<body>
    <!-- Spinner Start -->
    <%- include('/Users/chris/FrontEndAplikasi/views/layouts/spinner.ejs') %>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <%- include('/Users/chris/FrontEndAplikasi/views/layouts/navbar.ejs') %>
    <!-- Navbar End -->

    <%- body %>

    <!-- Footer Start -->
    <%- include('/Users/chris/FrontEndAplikasi/views/layouts/footer.ejs') %>
    <!-- Footer End -->
</body>