<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head.ejs') %>

<body>
    <!-- Spinner Start -->
    <%- include('layouts/spinner.ejs') %>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <%- include('layouts/navbar.ejs') %>
    <!-- Navbar End -->

    <%- body %>

    <!-- Footer Start -->
    <%- include('layouts/footer.ejs') %>
    <!-- Footer End -->
</body>